[2017-08-27 22:07] nackjicholson opened #1 "Everything gets placed in an empty '/' directory on s3"
I'm finding this package unusable because I can't control where files get placed.

[code]

The file ends up at `s3://my-bucket//foo.csv` instead of `s3://my-bucket/foo.csv`

[2017-08-28 12:22] willmcgugan commented on #1
Confirmed, I'll have a fix soon.

[2017-08-28 12:30] willmcgugan commented on #1
There is a fix in master, if you would like to try it.

[2017-08-28 17:47] nackjicholson commented on #1
Thank you, I will give it a try. Cheers!

[2017-08-28 18:31] nackjicholson commented on #1
@willmcgugan I gave it a quick go with the alpha, and it worked as expected. Thanks much!

[2017-08-29 16:30] #1 closed

[2017-08-30 10:33] samuelsinayoko opened #2 "Looser requirements in setup.py"
Hi, am starting to use PyFilesystem and S3FS and I like it. One issue I'm having however is that some of my applications require older versions of boto3 (1.4.0) and botocore (1.4.28).
I've done some tests and it doesn't seem to be an issue with `fs_s3fs`, so I was wondering if you could relax the requirements rules and use for example
[code]

This is also more in line with https://blog.miguelgrinb

[2017-08-30 12:48] willmcgugan commented on #2
Yes, can do. I'd probably go with `boto3~=1.4` syntax though.

[2017-08-31 15:46] samuelsinayoko commented on #2
Great, I suppose there's no difference between `boto3~=1.4` and `boto3>=1.4.0,<1.5` anyway.

[2017-08-31 15:52] samuelsinayoko opened #3 "Subdirectory with the same name as the parent doesn't appear in listdir()"
Given a directory structure
[code]
doing
[code]
returns the empty list. I reckon this is because of line 440 in `_s3fs.py`:
[code]
In this example, `_s3_key == _name == 'dir'` so the subdirectory isn't included in the list of directories :grimacing:

[2017-08-31 16:28] samuelsinayoko commented on #3
It seems that replacing line 440 by `if prefix_len:` resolves the issue with `listdir`.

This same line `if _name != _s3_key` seems to break `S3FS.geninfo` but again replacing by `if prefix_len` seems to solve the issue.

[2017-08-31 16:31] samuelsinayoko commented on #3
See PR here describing the proposed fixes https://github.com/bmlltech/s3fs/pull/1/files

[2017-09-01 13:56] willmcgugan commented on #3
Thanks. Will look at that soon.

[2017-09-01 19:59] willmcgugan commented on #2
v0.1.3 has the relaxed Boto requirement.

[2017-09-01 19:59] #2 closed

[2017-09-01 19:59] willmcgugan commented on #3
Should be fixed in 0.1.3

[2017-09-01 19:59] #3 closed

[2017-09-04 11:56] samuelsinayoko opened #4 "S3FS.remove('parent_directory/file') deletes both `file` and `parent_directory` when there is only one file in the directory"
I've noticed that when there's only one file in a directory, running `botocore.s3.delete_object` deletes both the file and the parent directory. This is unexpected. I've raised an issue on the botocore list https://github.com/boto/botocore/issues/1275 but in the meantime I'd suggest modifying the implementation of `S3FS.remove` to something like
[code]

[2017-09-04 13:09] willmcgugan commented on #4
That's annoying! I'll have to think about that one. The `listdir` might be a little inefficient in the code above. What version of boto are you using?

[2017-09-05 08:32] samuelsinayoko commented on #4
I've been using
boto3 (1.4.7)
botocore (1.7.3)

[2017-09-25 13:56] hevy-CC4477 opened #5 "fs.walk raise fs.errors.ResourceNotFound"
Hi,

I tried to use this new version of s3fs and I don't succeed to use walk.

[code]

Why fs.errors.ResourceNotFound is raised ? Did I do something wrong ?

My environment:
[code]

[2017-09-25 16:31] willmcgugan commented on #5
That's probably because there is no empty `tmp/` object which would indicate a directory. If you create it, you might find it works. If you use S3FS to create files, it will create directory objects for you.

It might be possible to handle these implied directories. I'll look in to it.

[2017-09-25 18:02] hevy-CC4477 commented on #5
empty `tmp/` ? I don't understand, you can't have an empty `tmp/`.

[2017-09-26 14:01] willmcgugan commented on #5
S3 doesn't support true directories, so S3FS (and S3 console) will create an object with 0 bytes for each directory. So in your example, there would be two objects; one called `tmp/` and one called `tmp/tmp`.

How did you create that file?

[2017-09-26 14:13] hevy-CC4477 commented on #5
I created the file using the aws cli:
`touch tmp && aws s3 mv tmp s3://hevytest/tmp/tmp`

As you say, S3 does not support directories. It's just keys. I can understand that for other filesystem you use them. Do you think you could implied them ?

[2017-09-27 20:49] willmcgugan commented on #5
Yeah, it's probably possible. I'll look in to it.

[2017-10-06 01:54] geoffjukes opened #6 "Support for S3 compatible services"
Hi,

I just found PyFilesystem - and I was half way through my own implementation of the same concept (I was about to write the ftp adapter). So I’m ditching my code, and using yours :) Thank you!

The only thing I’m not sure how to do (cleanly) is to use the s3fs adapter with an S3 compatible service, for example Swift/Ceph/Wasabi - specifically Wasabi in my case.

In my implementation, I simply

[2017-10-11 22:50] genben opened #7 "AWS access key is not passed to S3 resource"
The options `aws_access_key_id` and `aws_secret_access_key` are not passed to boto3.resource() function.

Below is a fix.

Original code (file `_s3fs.py`):

    @property
    def s3(self):
        if not hasattr(self._tlocal, 's3'):
            self._tlocal.s3 = boto3.resource('s3')
        return self._tlocal.s3

Solution:

    @property
    def s3(self):
        if not hasattr(self._tlocal, 's3'

[2017-10-13 21:40] nackjicholson opened #8 "opendir raises a ResourceNotFound exception for a subdirectory which does exist."
[code]

Raises Not Found on the line which calls `opendir`

I find things to work entirely when using `file://` or `osfs://` protocol urls, but things tend to explode when using `s3://`. Because I've hit two show stopping issues in two attempts to use s3fs and pyfilesystem, I'm gonna conclude that the premise of this being a compliant `FS` implementation is false, untested, and broken.

It's a gra

[2017-10-14 09:17] willmcgugan commented on #6
Glad you found it useful!

I'll looking in to adding that `endpoint_url` to the constructor. Maybe also an environment variable specifying the endpoint url if not set expliciity?

[2017-10-14 09:18] willmcgugan commented on #7
Thanks. Will have a fix soon.

[2017-10-14 09:21] willmcgugan commented on #8
It passes [all the tests](https://github.com/PyFilesystem/pyfilesystem2/blob/master/fs/test.py). Since you've already reached a conclusion, I guess you don't require assistance diagnosing the issue.

[2017-10-14 09:25] willmcgugan commented on #4
Did you create the file outside of S3FS? There is currently a limitation where S3FS assumes the present of an empty file to indicate a directory. I'm looking in to a more general solution for that.

[2017-10-15 19:50] willmcgugan commented on #6
Hi Geoff,

I've added an `endpoint_url` parameter to the constructor in `0.1.4`. Wouldn't you mind giving that a try?

[2017-10-15 19:51] willmcgugan commented on #7
Should be fixed in 0.1.4

[2017-10-15 19:51] #7 closed

[2017-10-15 20:02] geoffjukes commented on #6
Wow, that was quick Will, Thanks! I’ll give it a whirl at the office tomorrow, and let you know.

Geoff

[2017-10-16 17:52] nackjicholson commented on #8
Apologies, was frustrated because my hopes were high that this library would be able to replace my kluge home-rolled code that abstracts between pythons `os` and `boto3/s3`. Felt like I'd wasted quite a bit of time implementing things with pyfilesystem, just to have to throw all that work away and go back. I didn't catch that the s3fs tests inherit from pyfilesystem2. Doesn't change the fact that

[2017-10-16 18:04] genben commented on #7
Great! Thank you.

[2017-10-16 18:09] willmcgugan commented on #8
I'm certain whatever issue it is can be solved easily, which would benefit both of us. No need to vent. If you do want to figure it out, feel free to open another ticket.

[2017-10-16 18:09] #8 closed

[2017-10-17 20:24] genben opened #9 "Optimize uploading to S3"
Is it necessary to send `GET` request to S3 every time the file is uploaded?

In methods `S3FS.setbinfile()` and `S3FS.setbytes()`, it sends two GET requests. First time, it checks if the the parent directory exists (calls `S3FS.isdir()`).  Second time, it checks if the URL is not a directory (calls `S3FS.getinfo()`).

These operations are quite expensive. The effective upload speed increases at l

[2017-10-17 20:57] willmcgugan commented on #9
It is unfortunate, but in order to be a compliant implementation (and pass the [tests](https://github.com/PyFilesystem/pyfilesystem2/blob/master/fs/test.py)), it has to throw the same set of exceptions as all the other implementations. I'm open to suggestion regarding optimisations. I'd also consider api additions that didn't break old interfaces.

[2017-10-17 21:52] genben commented on #9
Maybe, just introduce the additional option to S3FS contstructor, which would disable/enable such validation?
Something like `validate_dst_path=False` (need better name).
For backward compatibility, the validation can be enabled by default.

[2017-10-18 08:35] willmcgugan commented on #9
That's an idea. How about `strict` which defaults to `True`, but would omit expensive validation if set to `False`.

[2017-10-18 16:23] genben commented on #9
Yes. This name ("strict") is much better.

[2017-10-18 17:11] genben commented on #9
I have made the mentioned changes to the forked repository: https://github.com/miarec/s3fs/commit/756aff38c56221e5d1278775eb6afced68d28b40

Probably, the comment could be improved.

[2017-10-18 20:37] geoffjukes commented on #6
@willmcgugan This works perfectly, when using the `S3FS` class. I've submitted a pull request to add `endpoint_url` to the opener, passed as a URL parameter, and a couple of additions to the README's.

Apologies in advance, I messed up the README.rst and reverted it, but couldn't 'undo' the commit from where I am, so the pull request is a bit ugly.

[2017-10-19 08:57] willmcgugan commented on #9
Looks good. Would you like to submit a PR for that? I'll get it in the next release.

[2017-10-19 08:57] willmcgugan commented on #6
Great. Will have a look at the PR.

[2017-10-19 08:57] #6 closed

[2017-11-07 14:05] #9 closed

[2017-11-20 12:31] zopyx opened #15 "Installation issue: fs.opener.errors.UnsupportedProtocol: protocol 's3' is not supported"
I installed fs=2.0.16 and s3fs inside Python 3.6 venv:

[code]

[2017-11-20 12:32] zopyx opened #16 "ModuleNotFoundError: No module named 's3_s3fs'"
The very first example from the docs does not work:

[code]

Same setup as in #15

[2017-11-20 12:36] willmcgugan commented on #15
The package is `fs-s3`.

`s3fs` is not a a PyFilesystem class, AFAIK.

[2017-11-20 12:36] #15 closed

[2017-11-20 12:40] willmcgugan commented on #16
There was a typo in the readme I just fixed. The following should work.

[code]

Assuming you have installed `fs-s3fs`

[2017-11-20 12:43] willmcgugan commented on #16
Updated the readme with an Installing section, because it wasn't clear.

[2017-11-22 12:31] Hernrup opened #17 "Fetching file in subfolder returns ResourceNotFound, error fetching info"
Opening file on subfolder couses ResourceNotFound error.

Versions:
- fs (2.0.17)
- fs-s3fs (0.1.5)

### To reproduce

Working:
[code]
Not working
[code]
Stacktrace
[code]

[2017-11-22 13:55] willmcgugan commented on #17
I think I know why that might be. Because S3 doesn't support true directories, S3FS creates empty files to represent directories. But in your first example there is no `test/` directory.

If you do the following prior to your first example, does it work?

[code]

[2017-11-23 06:54] Hernrup commented on #17
Yes, it does work if `makedir` is introduced.

The wierd thing is that `with ffs.open('test/999', 'wb') as f: f.write(b'test')` does produce the file in the non-working example. It is only not able to retrieve it again. Its a very unexpected and inconsistent behaviour.

My suggestion would be to either:
- Document the behaviour and add a warning in the docs
- Remove support for creating files in s

[2017-11-23 11:45] willmcgugan commented on #17
Yes, you're right. I'm leaning towards documenting it. The alternative would be to introduce additional checks (i.e. requests), which may be too expensive. Although there is already a `strict` flag to relax these requirements.

In general though, if you use S3FS to create everything, you shouldn't see any surprising behaviour. The test suite is extensive.

[2017-12-04 20:45] m0nzderr commented on #17
+1

[2017-12-27 11:00] zevix opened #18 "Writing to S3 also writes **locally**, failing on large files due to local out-of-disk space"
Using:
[code]
Crashed after consuming all local disk space.

Need to have an option to work without local disk access

[2017-12-28 13:14] #16 closed

[2018-01-31 17:36] willmcgugan commented on #18
Opening a file on an S3FS requires that a local copy be created, in order to simulate a regular file.

In v0.1.6 you can use the `getfile` method which can download the file without the intermediate temporary file. Or you can use `fs.copy` which should also be able to avoid the temporary file.

[2018-01-31 17:36] #18 closed

[2018-01-31 17:39] willmcgugan commented on #17
I've documented this behaviour [here](http://fs-s3fs.readthedocs.io/en/latest/#limitations).

Unfortunately I don't see a solution that wouldn't be prohibitively expensive.

[2018-01-31 17:40] willmcgugan commented on #5
Can't see an efficient solution for this. Best I can do is [document the behaviour](http://fs-s3fs.readthedocs.io/en/latest/#limitations).

[2018-01-31 17:40] #5 closed

[2018-01-31 17:46] willmcgugan commented on #4
I can't reproduce this now. Going to assume it has been fixed in boto!

[2018-01-31 17:46] #4 closed

[2018-01-31 19:55] Hernrup commented on #17
It's absolutely sufficient that it's documented. Thank you for taking the time. Unfortunately the documentation does not touch on this issue. It's states that as long as you use s3fs to create the file you should be safe. That is clearly not the case here. The behaviour that needs documenting is that you will have a bad time if you don't explicitly create the subfolder when creating a file with s3

[2018-02-01 11:18] willmcgugan commented on #17
Yes, you're right. I conflated this with another issue. The correct behaviour would be to throw an exception if you try to open a file in a directory that doesn't exist.

[2018-02-01 11:41] Hernrup commented on #17
My opinion is that the correct behaviour whould be to create the folder if it does not exist when the user is trying to create a file in a subfolder.

That whould keep the internal s3 structure as intended and is from my point of view the expected behaviour.

It is not an issue on read but rather that write with s3fs can corrupt the s3 filestructure.

Throwing an error stating that the folder is m

[2018-02-02 10:52] #17 closed

[2018-02-02 10:53] willmcgugan commented on #17
Fixed in 0.1.7

[2018-02-12 00:23] limx0 opened #23 "Create bucket if it does not exist?"
I'm currently trying to use s3fs with [minio](https://minio.io),  but running into trouble when a bucket does not exist.

I'm wondering whether this is expected to work (with s3) or if I should just add some code to create a bucket before connecting with s3fs. I don't have any s3 buckets to test against unfortunately.

Cheers

[2018-02-15 05:40] geoffjukes opened #24 "Server-Side Bucket to Bucket"
Hi,

Curious to know if copying between buckets is a server-side affair, or a download-upload process.

There are 3 bucket-to-bucket scenarios:

1) Same account, same region
2) Same account, across regions
3) Different accounts for above

I’ve done some crude tests, and bucket-to-bucket *seems* faster than doing separate download-upload processes. So I thought I’d just ask :)

Many thanks,

Geoff

[2018-02-17 23:13] limx0 opened #25 "ResourceNotFound exception on removetree"
`removetree` breaks when (presumably) boto cleans up a directory after all files have been deleted.

To replicate (I am using a local minio server to test against):

[code]

which raises

[code]

I assume that boto is cleaning up the directory after all files have been deleted. In which case we probably want to do something in `removedir` like

[code]

Thoughts?

[2018-02-19 01:41] prestonPD opened #27 "README.md typo?"
Hello, thank you for providing this package.

Under "Opening a S3FS" in README.md it says
`from s3_s3fs import S3FS`

I think this should maybe be
`from fs_s3fs import S3FS`

The latter worked for me; the former did not.  Please let me know if I may submit a PR to fix this critical issue :D

[2018-02-21 13:53] willmcgugan commented on #27
Quite right. Fixed!

[2018-02-21 13:53] #27 closed

[2018-02-21 13:56] willmcgugan commented on #23
It's expected that the bucket already exists, before you open the filesystem. That said, a way of creating a bucket with `S3FS` is not a bad idea...

[2018-02-21 13:59] willmcgugan commented on #24
`S3FS` isn't aware of bucket-to-bucket transfers. So it will essentially do a download/upload.

It should be possible to detect where a bucket-to-bucket transfer would be possible. To be honest, I didn't even know that was possible. Will look in to that...

[2018-02-21 14:12] willmcgugan commented on #25
I can't replicate that with AWS. What versions of S3FS / FS / Boto do you have installed?

[2018-02-21 21:33] limx0 commented on #25
If you run the test I've added in #26 against AWS, it works ?

[2018-02-21 21:53] limx0 commented on #25
I'm on
[code]

[2018-03-10 14:45] willmcgugan commented on #25
I'm on

[code]

And your test works for me, without your patch.

Curious. I will try upgrading my boto to your version.

[2018-03-10 14:49] willmcgugan commented on #25
Still works. Has to be an issue with Minio. I'll try it against Minio locally.

[2018-03-10 15:13] willmcgugan commented on #25
Ok, confirmed. Failed with Minio.

I ran the test suite against a local Minio server, and there were a number of fails. This tells me that Minio doesn't quite replicate AWS. The issue you found is one of several.

I'm a little hesitant to attempt to fix them, because I don't want a situation where I break AWS in order to get Minio working.

I think I'm going to reluctantly make this a 'wontfix' bu

[2018-03-29 20:59] limx0 commented on #25
Appreciate you actually checking that @willmcgugan. I will follow up an issue with Minio.

[2018-03-29 20:59] #25 closed

[2018-04-19 14:12] simonm3 opened #29 "404 errors when accessing folders"
Just started using this and looks like a great tool but does not seem to recognise some of my folders. For example the following recognises one of the folders but fails when I try to getinfo on any of the others.

P.S. the actual output does print "dir job-data" but for some reason it does not show when I post it here.

[code]
[code]

[2018-04-19 14:47] willmcgugan commented on #29
Do you have an S3 object called? `jobs-new/`?  S3FS requires this in order to get information regarding a directory.

See [limitations](http://fs-s3fs.readthedocs.io/en/latest/#limitations) for details.

Closing this issue for now, but feel free to re-open if this doesn't explain your issue.

[2018-04-19 14:47] #29 closed

[2018-04-19 14:54] simonm3 commented on #29
I just checked and this does appear to be the issue. I add an object test1/test2.csv. When I look at the bucket in a web browser or using s3fs.listdir then test1 is shown as a directory in the hierarchy. However the key test1/ does not actually exist separately. Hence you cannot getinfo or copy the test1 folder.

In addition if you attempt to use s3fs copy_file on test1/test2.csv then it says the

[2018-04-19 14:58] simonm3 commented on #29
Not for the first time AWS acts in a rather unintuitive way but isn't there an opportunity for s3fs to make this work just like a file system?

[2018-04-19 15:06] willmcgugan commented on #29
I'd love for it to be that transparent. Alas, it appears to be prohibitively expensive to implement. It would require additional requests per filesystem method.

If I figure out a way of doing it without making it too slow, I would gladly implement it...

[2018-04-27 15:13] Ryanb58 commented on #23
Creating a bucket would be a nice feature...

[2018-04-27 15:22] Ryanb58 opened #30 "open_fs with Endpoint URL."
Is there a way to use open_fs() to open an S3 instance that is at a different endpoint?

[2018-04-27 15:29] Ryanb58 commented on #30
Figured out how to do this. All you need is to pass the `endpoint_url` as a param.

i.e.
[code]

[2018-04-27 15:30] willmcgugan commented on #30
I'll keep this open to remind me to document it...

[2018-04-27 15:36] Ryanb58 commented on #30
@willmcgugan I was actually just doing this. I'll put up a PR in a moment.

[2018-04-29 06:15] geoffjukes opened #32 "Cache-Control header"
Hi,

Is there any way to set additional headers when uploading files? Such as the 'Cache-Control' header?

I'm uploading images, and have to modify the headers afterwards, thus making at least 2 calls.

Thanks in advance,

Geoff

[2018-05-02 07:01] willmcgugan commented on #32
There isn't at the moment. Open to suggestions about how to add that to the api...

[2018-05-04 06:07] geoffjukes commented on #32
I don't think it's unreasonable to set something like `upload_args` and `download_args` after instantiating the filesystem object.

That would be compatible with all the 'copy' methods, would not require changes to any other modules. and (neatly, I think) apply the same options to all uploads/downloads for the lifetime of the filesystem instance.

According to [the docs](https://boto3.readthedocs.

[2018-06-06 21:52] tmbdev opened #34 "support Google Cloud Storage explicitly"
Google Cloud Storage uses the same protocol as S3 but a different API endpoint and different prefix (gs: vs s3:). It would be convenient if s3fs included the Google endpoint and prefix so that it can work with both object storage systems.

See here: https://cloud.google.com/storage/docs/interoperability

Request endpoints: https://cloud.google.com/storage/docs/request-endpoints

Example endpoint:

[2018-06-10 06:11] #32 closed

[2018-06-11 21:07] julillae opened #36 "Encryption option for makedir()"
Hello!

Would it be possible to extend the current support for encryption options to makedir() in the S3FS class?

I was excited to be able to use upload_args to pass server side encryption options for file uploads to an s3 bucket. It works fine for file uploads. However, I am unable to create a directory in an s3 bucket that has an encryption policy. Looking at the code, I think that the upload_a

[2018-06-11 21:17] willmcgugan commented on #36
Sounds reasonable. @geoffjukes any thoughts?

[2018-06-12 01:39] geoffjukes commented on #36
I’m away for a week, but assuming nobody else puts in a PR before I get back, I don’t see any issue with this @willmcgugan.

@julillae I hadn’t actually considered this use-case (a bucket policy that requires objects be encrypted)

[2018-06-18 16:46] geoffjukes commented on #36
@willmcgugan This should be as simple as modifying https://github.com/PyFilesystem/s3fs/blob/6d04cd1633495329a6fa02d02bd8e5cb057e143f/fs_s3fs/_s3fs.py#L538

[code]
to
[code]
The `Object().put()` takes the kwargs defined in the `ExtraArgs` dict.

[2018-06-21 23:15] robo-hamburger opened #37 "Release?"
0.18 doesn't seem to have upload_args which would be extremely useful.

[2018-06-22 09:56] willmcgugan commented on #37
Will do a release soon.

[2018-06-25 15:59] willmcgugan commented on #37
0.1.9 is in pypi.

[2018-06-25 15:59] #37 closed

[2018-06-25 16:02] willmcgugan commented on #36
That change is in 0.1.9.

Thanks @geoffjukes

@julillae Let me know if that hasn't fixed your issue.

[2018-06-25 16:02] #36 closed

[2018-06-25 17:01] geoffjukes commented on #34
Hi @tmbdev,

The GCS API isn't 100% S3 compatible (if I recall correctly), and I'm pretty sure it breaks in S3FS because Boto3 uses Multi-Part uploads for larger files, and the GCS API doesn't support that. It works just fine for small files, but not all GCS features are supported.

(See https://github.com/PyFilesystem/pyfilesystem2/issues/147)

You can enable this using S3FS as-is, using the `end

[2018-06-25 17:09] geoffjukes commented on #23
I'm not sure I agree. I use the FS-URLs a lot, an in that format, the bucket falls into the 'host' portion of the URL, and therefore it makes sense that it should already exist.

My concern with auto-creating buckets, is that it could lead to 'working' code that is writing data to the wrong place (a Typo in the bucket name, for example).

[2018-06-25 17:51] willmcgugan commented on #23
@geoffjukes I concur that it would be unwise to auto-create buckets.

If it is to be added, it should be made explicit. Perhaps a constructor boolean and a query argument on the FS URL?

[2018-06-25 18:53] geoffjukes commented on #23
As `create` already exists (and pertains to the 'directory') and is 'on' by default, maybe `create_bucket`?

[2018-06-27 14:40] willmcgugan commented on #34
@geoffjukes Potentially, yeah. It might be possible to factor out a common base class to avoid duplication of effort.

[2018-07-16 13:02] simonm3 commented on #29
I have a solution for this which will not cost anything if the folder hierarchy exists but if it fails then will create the hierarchy. It works for copy_file and copy_dir.

[code]

[2018-07-16 13:40] willmcgugan commented on #29
Correct me if I'm wrong, but there would be no way to know if the ResourceNotFound was due to a missing 'directory file' or because the destination directory had just never been created.

[2018-07-16 16:49] simonm3 commented on #29
Good point - need to check it is source/destination error. However we can tell this from the exception.path. Updated version below:

[code]

[2018-07-16 20:05] simonm3 commented on #29
Updated version....I think the performance impact would be minimal in most cases. However if it is an issue could always have a config flag for "directory_check". In my case normally the directory structure is created along with files. However just occasionally someone creates a file in some other way. Then it fails to copy_dir or copy_file.

[code]

[2018-07-17 10:53] simonm3 commented on #29
OK finally, finally! Checking the path doesn't work if source and destination paths are the same which is possible as they are on different file systems. However we don't actually need to know this.
If the hierarchy is missing we fix and try again. Either way any error in destination is raised exactly as before so no change in behaviour. Cost is not an issue because all of this only happens in an

[2018-07-17 11:05] willmcgugan commented on #29
@simonm3 I think you may be on to something, but I suspect the fallback cases are doing more work than necessary. I suspect that we could do the same thing with fewer requests if we were to make more targeted S3 requests to figure out the 'assumed' directories.

I'm also concerned about the overall cost of this. The `exists` method for example will call `isempty` if `isdir` is false, which I think

[2018-07-17 12:37] simonm3 commented on #29
I am not expert on AWS efficiency and it may do things in unusual ways -
you probably know better than me. However my observations are......

copy_file and copy_dir exceptions are likely to be called only in
exceptional cases anyway. so would cost be an issue here?

isdir would only call isempty if the key does not exist. So we either are
calling isempty on a file that does not exist (cheap?) or o

[2018-07-17 12:43] simonm3 commented on #29
On the other hand re exists.....

it only calls isempty if the path does not exist. Therefore the only time
it reads multiple keys is where the directory key is missing but sub-keys
exist. This is another case of either we incorrectly return False or
somehow detect if subkeys exist.

To resolve the issue with testing exists in copy_dir just call exists(path)
to fix the problem and then repeat the

[2018-07-23 15:57] chairmank opened #39 "support use_ssl, verify arguments to boto3.client.__init__"
I would like `S3FS` to pass through a couple of configuration parameters to `boto3.client.__init__` (https://boto3.readthedocs.io/en/latest/_modules/boto3/session.html#Session.client):

The reason for this change is to support users of S3-compatible storage outside of AWS that require SSL configuration.

It seems like this will be a straightforward addition to the `__init__` method and a correspon

[2018-07-27 09:40] willmcgugan commented on #39
Will look in to that. Would also accept a PR.

Btw, I had a problem with 'Minio', which claims to be S3-compatible, but had a number of differences. So I'd like to add a disclaimer that I can't guarantee that anything other than S3 will work properly.

[2018-08-03 13:11] amachanic commented on #39
I just came here searching for this exact fix! Good timing. Any possibility of passing the use_ssl argument via an opener?

[2018-08-03 15:11] chairmank commented on #39
@amachanic Did you pass

[code]

directly to `S3FS`, or did you specify it as a query parameter in the URL that you passed to `S3FSOpener`? If you did the latter, then I think that you found a bug in my commit https://github.com/chairmank/s3fs/commit/cf91b3aeb82a0adbb54d290280aceea26c8d55ac . I'll fix it.

[2018-08-03 15:14] amachanic commented on #39
@chairmank I passed it in the URL. Also just discovered that the same problem occurs with use_ssl in a URL; both need to be cast as boolean, as necessary, at some point along the chain.

Thanks for doing this fix!

[2018-08-03 15:48] chairmank commented on #39
Actually, this is tricky because query strings are stringly-typed.

I think that `verify=False` in the URL *must* be interpreted as the string `'False'`, because it is impossible to distinguish between the boolean `False` and the filename `'False'`.

Interpreting `use_ssl` in the query string requires a mapping from string to booleans. Do we recognize `'true'` and `'True'` to mean boolean `True`?

[2018-08-03 15:58] willmcgugan commented on #39
There's a boolean in there already called `strict`. The convention I've adopted is that `1` is the only value that is considered True. It at least avoids the confusion you've pointed out above.

Other booleans should probably adopt the same convention. Or we pick a better convention.

This might be a good time to hammer it out, because I'm going release `1.0.0` version soon.

An alternative would

[2018-08-03 16:03] amachanic commented on #39
@willmcgugan @chairmank

1 being True is a reasonable choice in my opinion, but it will not work with verify as there is only a False option or a string. So a 0 will have to be introduced. Seems simple and effective enough?

That said I do appreciate being able to pass the strings "true" and "false" for consistency, and in those cases it would be ideal to simply support any/all possible casing. Th

[2018-08-03 16:08] willmcgugan commented on #39
With regards to verify, I think it might be prudent to separate that in to two parameters. One for the boolean and one for the path to the certs. I'm also not keen on the 'inherit defaults' option of `None`. We can probably pick our own defaults here.

[2018-08-03 16:10] chairmank commented on #39
Okay, what about the following:

* `'use_ssl=1'` means `use_ssl = True`, any other values mean `use_ssl = False`, omission means `use_ssl = None` (the default)
* `'verify=foo'` means `verify = 'foo'` (string), `'verify='` means `verify = False`, omissions means `verify = True` (the default)

[2018-08-03 16:12] amachanic commented on #39
Does use_ssl = None mean True inside of boto? If not the default needs to be True in order to not break existing implementations.

[2018-08-03 16:16] chairmank commented on #39
Sorry, I confused the defaultsin my last comment. The defaults in boto, which I propose that `S3FSOpener` also honor, are

* `use_ssl = True`
* `verify = None`

[2018-08-03 17:11] chairmank commented on #39
I amended by PR. New commit is https://github.com/PyFilesystem/s3fs/pull/40/commits/e53676d15b011927eaa2decb2b703aa13b7dae5a

[2018-08-04 12:24] amachanic commented on #39
Additional thought on this: If use_ssl is False, there is no point in verifying the certificate. So in that case, ignore verify altogether and default it to False as well. Convenience feature.

[2018-08-08 10:29] fredmajor opened #41 "botocore.vendored.requests.packages.urllib3.connectionpool: Resetting dropped connection: my-bucket.s3.us-west-2.amazonaws.com"
Hi,
when reading files from S3, I see a lot of messages like the one in the subject line.
Can anybody explain what that means and if this is something I should worry about?

[2018-08-08 10:38] willmcgugan commented on #41
I haven't seen that myself. How have you got logging configured?

[2018-08-08 10:51] fredmajor commented on #41
Info. Another thing is that I do a lot of walking across large amounts of small files, e.g.:
[code]

[code]

[2018-08-08 11:02] willmcgugan commented on #41
I suspect its benign, assuming it's working otherwise? It's coming from boto, so it's unlikely to be an issue with S3FS. Do you have any proxy between you and Amazon?

BTW, if you are working with a lot of small files, you will likely get better performance by disabling strict mode.

[2018-08-08 12:54] willmcgugan commented on #41
If strict is enabled (default), S3FS will follow the PyFilesystem spec exactly. If strict mode is disabled it will omit a few checks in the interest of performance. The main one is attempting to open a path that is a directory, which normally requires an additional request to determine.

Generally you will have done a scan dir before opening a file, so you know in advance a path is file and not a

[2018-08-08 12:54] #41 closed

[2018-08-08 13:06] fredmajor commented on #41
@willmcgugan thanks a lot! I will try disabling the strict mode.

[2018-08-08 16:43] fredmajor commented on #41
@willmcgugan one more question here - how am I supposed to disable the strict mode? I don't construct the S3FS manually, I use fs.open_fs

[2018-08-08 16:51] willmcgugan commented on #41
Add `?strict=0` to the FS URL.

It's relatively new, docs haven't caught up yet...

[2018-08-08 21:26] fredmajor commented on #41
@willmcgugan thank you, I will give it a shot!

[2018-08-16 10:07] birnbaum commented on #34
I'm currently working on a basic GCS implementation based on [google-cloud-storage](https://github.com/GoogleCloudPlatform/google-cloud-python/tree/master/storage).

This repository is a great help and for sure the two implementations share a lot of code. Unfortunately the APIs of boto3 and google-cloud-storage are pretty different, also regarding the controll flow (boto3 throws a lot of exception

[2018-08-16 16:12] Spacerat opened #42 "s3fs incompatible with latest fs"
The latest version of pyfilesystem2 [is 2.1.0](https://github.com/PyFilesystem/pyfilesystem2/blob/9e4d4b906893b321571fb64896d647e8451d520b/fs/_version.py), but s3fs [requires ~2.0.18](https://github.com/PyFilesystem/s3fs/blob/17605168bb1b9d65402c59010afa67d4bdd941e7/setup.py#L27). Is there a specific reason for this, or could this constraint be relaxed?

[2018-08-16 16:49] willmcgugan commented on #42
There's a new release coming shortly, with the most up to date PyFilesystem.

[2018-08-17 15:55] willmcgugan commented on #42
Version 1.0.0 is in Pypi now. No material changes from previous version apart from dependancies.

[2018-08-17 15:55] #42 closed

[2018-08-17 22:14] Spacerat commented on #42
Great - thanks for letting me know!

[2018-08-20 22:21] geoffjukes opened #44 "Release?"
Hi @willmcgugan

I'd like to use FS 2.1, but can't until this is also upped :)

[2018-08-21 09:17] willmcgugan commented on #44
Hi @geoffjukes

Version 1.0.0 of fs_s3fs is in Pypi, and should have the latest dependancies...

[2018-08-21 09:17] #44 closed

[2018-08-21 16:38] birnbaum commented on #34
A first version is done 🙂 I'm truely amazed by the API and documentation of this framework, it took less than two days to understand the concepts and write a basic GCS implementation which passes all unit tests. You did a really great work!

We will now integrate this first version in our company internal code base and I'll try to further improve it. I will push towards open sourcing it asap but t

[2018-08-22 12:48] willmcgugan commented on #34
Fantastic. Keep me posted :-)

[2018-09-23 19:08] rabernat commented on #34
Any updates on this? Would be great to have a pyfilesystem that uses the native google api.

[2018-09-26 08:33] birnbaum commented on #34
The filesystem is functional and we already use it in all production systems. I'm pushing to open source it and it will happen soon, but there is still some work to do as it is the first OS project of this company. I'll keep you posted, I think you can expect a release in the next 2-3 weeks :)

[2018-09-26 08:43] birnbaum opened #45 "Custom Walker for key-value-store filesystems"
Has there any work been done towards a custom Walker for key-value-store filesystems? Walking with the standard Walker is extremely slow on my gcsfs implementation because of all the requests and I can imagine it's the same on s3fs.

Walking on buckets could be implemented fairly efficient because it comes down to something like `bucket.list()` and one would just need to format the walk output cor

[2018-09-26 12:19] birnbaum commented on #45
Cool, thanks for the tips, I'll give it a try!

The walking is slow in my use case because I am walking over deeply "nested" keys. For every level, a separate request is sent to GCS which is, of course, a lot slower than retrieving the keys in large batches and "faking" the (path, dirs, files) tuple under the hood.

[2018-10-17 07:36] willmcgugan commented on #34
@rkhwaja has released a google drive fs. https://github.com/rkhwaja/fs.googledrivefs

[2018-11-12 09:44] birnbaum commented on #34
Hey guys, thanks for your patience! GCSFS is finally open-sourced 🙂https://github.com/Othoz/gcsfs

There are still many things on my TODO list, but for 90% of all use-cases it should be good to go. Any feedback is welcome!

[2018-11-12 10:00] willmcgugan commented on #34
Amazing, thanks @birnbaum And Othoz!

I've added fs-gcfs to https://www.pyfilesystem.org/page/index-of-filesystems/

I guess I can also close this ticket. :-)

[2018-11-12 10:00] #34 closed

[2018-11-14 03:38] mhworth opened #46 "Makedirs fails against vanilla minio instance"
If I have a minio server running like this:

`docker run -e "MINIO_ACCESS_KEY=test" -e "MINIO_SECRET_KEY=password" -p 9001:9000 minio/minio server /data`

Then the following simple example fails:

[code]

with the following error:

[code]
I traced it through and found that the problem is that the directories aren't being made when makedirs  is called, causing the recursive creation of directories

[2018-11-23 13:34] frthjf commented on #46
I have the same issue

[2018-11-23 14:08] willmcgugan commented on #46
Sorry, forgot about this issue. I'm afraid S3FS just doesn't work well with minio. More details here https://github.com/PyFilesystem/s3fs/issues/25

I'm willing to look at again if there is a new version of Minio, but at the moment I just can't support both S3 and Minio.

[2018-11-23 14:08] #46 closed

[2018-11-23 14:32] frthjf commented on #25
@limx0 Have you followed up with Minio? Otherwise I'd raise an issue

[2018-12-04 02:30] mhworth commented on #46
Got it, thanks @willmcgugan !

[2018-12-20 10:21] gilbsgilbs opened #47 "Use multipart upload instead of a temporary file"
Hi,

If I understand the current implementation correctly, it creates a temporary file on disk, writes everything to it, and just when the file is closed, uploads it to S3. This implementation is not applicable for very large files and is probably slightly suboptimal in some circumstances. For these reasons, I think it would be beneficial should s3fs could take advantage of [multipart uploads](htt

[2018-12-20 12:13] gilbsgilbs commented on #47
Thanks for your prompt response @willmcgugan, I really appreciate. If somebody or myself want to pick this and submit a PR, would you:
- accept that it relies on third party libraries?
- prefer it to be opt-in only? / accept that it completely replaces the tempfile implementation?

[2018-12-20 14:43] gilbsgilbs commented on #47
Thanks for proposing. Actually, I would have needed it for commercial stuff, but it's too late already. I did things otherwise (and it was not huge enough to spend more time on it anyways). I may contribute in my spare time for fun though, yet not sure if and not sure when, just like you :wink: . Cheers.

[2019-06-20 11:13] holtgrewe opened #52 "Issues with s3fs and "/" prefix"
It looks like s3fs has issues with S3 and the latest pyfilesystem2? Maybe it's the prefix?

[code]

[code]

[2019-07-13 04:59] jayvdb opened #53 "PyPI sdist doesnt include tests"
tests in the sdist help packagers ensure their package is OK after each release of the library or any of its dependencies.

[2019-07-13 05:12] jayvdb commented on #53
Also there is no CI active in this repo.

[2019-07-13 05:17] jayvdb commented on #53
It looks like all the tests require credentials, and probably also require network, so they wont be too useful for building rpms in isolated environments, however rpm does have the ability to allow packagers to do builds with network enabled, often done locally to check and then the buildbots skip the tests.

[2019-07-26 12:17] simonm3 opened #54 "can the error messages be more specific?"
I am trying to list a type of file in an s3 bucket:
[code]
This fails after 4 minutes (it is a big bucket) with "permission error". However it does not tell me which key it failed on. So firstly this error message should report the key. Secondly any suggestions welcome as to an easy way to find it!

I note also that if any folders in the whole bucket are not defined then glob fails. This is even t

[2019-07-26 20:53] davidparks21 opened #55 "Error globbing on S3FS"
I'm getting an error when globbing on S3:

This looks ok:
[code]

But when I add a glob to the path:
[code]

`/archive` happens to be the first folder in the bucket I'm targeting here.

[2019-08-05 09:49] longern opened #56 "Feature request: set default endpoint"
Now I can change the endpoint by appending `?endpoint=` to the filesystem URL. Is it possible to set the default endpoint in a settings file or programmatically to prevent manually modifying fs URL every time?

[2019-08-13 18:22] pitrou opened #57 "tree() and walk() don't work with minio"
I have a file in `somedir/subdir`:
[code]

However neither walk() nor tree() are able to see it:
[code]

[2019-08-14 10:18] willmcgugan commented on #57
Last time I tested Minio it wasn't fully compatible with S3 and was too much work to support. However, I suspect your issue may be related to [this](https://fs-s3fs.readthedocs.io/en/latest/#limitations).

[2019-08-14 10:24] pitrou commented on #57
This is possible. To be honest, I'm an S3 newbie. However, I notice that `listdir` works (see above).

[2019-08-14 10:35] willmcgugan commented on #56
There doesn't seem to be any blessed way of doing this from Boto, but the opener could use an env var. Would that work for your use case?

[2019-08-17 08:03] longern commented on #56
That works. It's needed for private s3 service.

[2019-08-31 01:26] longern commented on #56
My solution is:
[code]
in opener.py, line 51

[2019-11-12 23:49] mrk-its commented on #57
`listdir` works because it do not check if parent directory exists as `scandir` does, take a look on my PR referenced above. BTW `listdir` implementation should simply call `scandir` and only transform result to list of filenames, I'll create separate PR for that.

[2019-11-17 06:14] davidparks21 opened #62 "I can open an S3 file in root, but not in a subdirectory"
Originally posted here:
https://stackoverflow.com/questions/57227152/opening-a-file-in-pyfilesystems-s3-filesystem-fails

I'm able to open a file in the root of an S3 bucket without a problem, however I cannot open a file with a standard path prefix:

[code]

I get the error:

[code]

I've tried every variant of the path / s3 url I can think of but I always get the not found error.

[2019-11-17 11:39] mrk-its commented on #62
Could you try to reproduce this using code from #60? (you can simply install `fs-s3fs-ng` package - it is the same as fs-s3fs==1.1.1 but with #60 and #61 applied)

[2019-11-17 11:59] willmcgugan commented on #62
@davidparks21 Did you create the test directory with S3FS?

S3FS has some limitations, which are documented [here](https://fs-s3fs.readthedocs.io/en/latest/#limitations).

[2019-11-17 11:59] #57 closed

[2019-11-17 18:26] davidparks21 commented on #62
I understand now, that does appear to be the issue, I hadn't caught that detail in the docs. This might be worth a big red flag in the docs.

@mrk-its your PR is brilliant, it solved my next problem too. I was doing a test to see if I could open a large file (3+ GB) and only read the first few bytes of its header. With `fs_s3fs_ng` it worked no problem, but with `fs_s3fs` with `strict=False` I was

[2019-11-17 18:26] #62 closed, assigned to nobody

[2019-11-19 17:47] jwnimmer-tri opened #64 "setinfo does not set modification time"
The current implementation of `fs_s3fs.S3FS.setinfo()` just a call to `self.getinfo()` (presumably to validate the path name).

However, if the call to `setinfo()` was due to trying to set the modification time as per `fs.base.FS.settimes()`, then the result appears to be no change to the modification time.

Perhaps until modification-time updates are correctly set by `s3fs`, it should raise `NotI

[2019-11-20 20:41] jordaniac89 opened #65 "when using readbytes(path), get ResourceNotFound"
[code]

where the `path` is the full path (minus the bucket) to the file, i.e. a/b/c.txt

I've made sure that my credentials in ~/.aws/credentials are correct, but I'm not sure if there's something else I'm doing wrong, or if readbytes is supported.

[2019-11-20 21:09] jordaniac89 commented on #65
after further debugging, I believe I found the issue in _s3fs.py:438

`obj = self.s3.Object(self._bucket_name, _dir_key)`

at this point, the _dir_key is the path *minus* the filename, i.e. `a/b/` when the full path is `a/b/c.txt`, which s3 will not be able to find. But your ResourceNotFound throws the error with the full path

`raise errors.ResourceNotFound(path)`

 which makes it look like the f

[2019-11-20 21:27] willmcgugan commented on #65
Did you create the file with S3FS?

Please see [limitations](https://fs-s3fs.readthedocs.io/en/latest/#limitations) in the docs.

[2019-11-20 22:47] jordaniac89 commented on #65
I did see that, and that was my other thought, but all files have been created either through the S3 GUI or through AWS APIs/SDKs. Interestingly, I just tested a totally new directory by creating it with your interface

[code]

and then reading it with the method readbytes(), and it worked. Most of our S3 contents were created through the Java S3 SDK, so I'm wondering if it doesn't create the dire

[2020-01-08 06:09] charanjit-singh opened #66 "Space Separated Resource Not Found in scandir(), works good with listdir()"
Space Separated Resource not found, when accessed through `fs.scandir(resource)`, but working fine with `fs.listdir(resource)`.

HELP!

[2020-01-08 09:14] charanjit-singh commented on #66
There's some problem with fs.getinfo() method. see: [i.stack.imgur.com/R7JlS.png](http://i.stack.imgur.com/R7JlS.png). I'm getting same Error as for scandir() and scandir itself use getinfo method. So problem is there.

[2020-01-27 10:43] matschreiner opened #67 "Problems with pickle.load(f) when `f = filesystem.open(path) `"
I can do the following just fine:
[code]

But if I do

[code]

I get
[code]

[2020-02-13 22:48] squarewave24 opened #68 "(404) when calling the HeadObject operation: Not Found"
[code]

[code]

[code]

i can get to that resource no problem with just boto:
[code]

any hints on how to troubleshoot it would be appreciated :)

[2020-04-14 02:46] CMCDragonkai opened #69 "Check integrity during download/upload"
I suspect s3fs doesn't check integirty during upload/download. This is sometimes causing problems.

The normal `aws` CLI does do  this automatically, and we can pass an md5hash during the upload.

* https://aws.amazon.com/premiumsupport/knowledge-center/data-integrity-s3/
* https://docs.aws.amazon.com/cli/latest/topic/s3-faq.html

Perhaps there's a way to do this behind the scenes here? And this w

[2020-04-30 00:18] ELind77 commented on #24
Any progress on this?

Any guidance on the change that would need to be made?  Currently, it looks like `copy` is doing the right thing, but it's not really clear to me what happens when the `src_path` is an `S3FS` object from another bucket.  Is there a way to get the bucket name from the src_path without causing problems or inconsistencies with the API?

Context:
https://github.com/PyFilesystem/

[2020-05-19 20:12] poudro opened #70 "`fs.open` returns `ResourceNotFound` (404) even though `fs.exists` finds the path"
Been having a strange issue with `fs.open` on various files.

The code is basically
[code]

Sometimes `fs.exists` will say that a file exists in s3 but the `fs.open` step will return a `ResourceNotFound` error.

I tracked the error in `fs.open` to this section of the code https://github.com/PyFilesystem/s3fs/blob/master/fs_s3fs/_s3fs.py#L433-L441, but I'm a bit at a loss as to why an exception sho

[2020-05-20 14:00] poudro commented on #70
I was able to reproduce, seems like if some other user wrote the file this occurs.

If I comment out line 439 it works as expected.

[2020-07-21 02:24] zimeon commented on #65
I got caught out by the need for objects that simulate directories too. This issue was very helpful, I feel the [limitations](https://fs-s3fs.readthedocs.io/en/latest/#limitations) description isn't very clear.

I would like to be able to write code that reads from S3 without needing objects to simulate directories. It seems that for at least some operations (such as `readbytes()`) a solution is c

[2020-07-22 10:32] simonm3 opened #73 "bug in copy_file creates destination file even if source does not exist"
I recently downloaded a few hundred files using copy_file. Most of the time it works as expected. However sometimes when the source file does not exist it creates the destination file anyway with zero bytes before raising an exception.

[2020-07-31 01:38] geoffjukes opened #74 "RecursionError maximum recursion depth exceeded"
Hi,

I nuked one of my servers and let everything build from scratch. Unfortunately some combination of the packages below causes s3fs to throw a `RecursionError maximum recursion depth exceeded` when being called using the URL opener.

I honestly haven't tried any other way, as I don't do it that way (happy to test though).

Try as I might, I cannot get Sentry to log the exception, so I'm kinda f

[2020-07-31 02:01] geoffjukes commented on #74
I used another service as a reference and downgraded everything to match. The combination below works just fine:
[code]

[2020-07-31 08:57] willmcgugan commented on #74
Sorry, nothing comes to mind. There doesn't seem to be anything in the opener itself that could get stuck in a loop. You could try using `sys.setrecursionlimit` to something a lot lower, that might it easier for Sentry to handle.

[2020-09-09 10:03] IvoMerchiers opened #75 "BUG: Starting filesystem with boto3 session returns AttributeError"
If I create a filesystem and provide a boto3 session, we get an AttributeError.

# versions
boto3=1.12.0
s3fs=0.5.0

# Code
Running
[code]
returns

[code]

[2020-10-14 09:32] philtromans opened #76 "readinto() fails"
Hi,

It looks like the buffer argument that's passed in isn't being passed into the underlying `readinto()` call. This causes a `TypeError` when Python tries to invoke the function:
https://github.com/PyFilesystem/s3fs/blob/7f95af69e904e58b068ac4f6b39c2da488d5d918/fs_s3fs/_s3fs.py#L154

(this gets exposed when you're using Pickle protocol 5, and right now it fails)

Thanks!

[2020-10-27 18:34] desmoteo opened #78 "Allow empty bucket in constructor or URL. Treat first folder in path as bucket name"
Hi

this is more a proposal of increment than a issue.
I am working on a project where I have to access  different buckets from the same code.
In a case like this it can be a little annoying the need to build an S3FS instance for every bucket:

`
myfs1 = fs.open_fs('s3://bucket1')
f1 = myfs1.open('/folder1/file1')
myfs2 = fs.open_fs('s3://bucket2')
f2 = myfs2.open('/folder2/file2')
myfs3 = fs.open

[2020-11-03 19:08] dargueta opened #80 "opendir() fails on same path that listdir() works on"
Not sure why, but `opendir()` apparently only works on the root directory. If you try to use it with a subdirectory that exists, you get a ResourceNotFound error.

[code]

I've tried this both with the leading and trailing slash and it still breaks.

If I try this...

[code]

So far so good. However, if I try using `filterdir()` it breaks even though I was just able to open a `.txt` file:

[code]

[2020-11-07 14:42] desmoteo commented on #80
I think this is probably related to https://fs-s3fs.readthedocs.io/en/latest/#limitations , and to  previosly reported issues such as #62 and others. It can be tricky to use S3FS on buckets where files were previously created e.g. with boto3, because the presence e.g. of file “foo/bar” does not imply the existence of a directory object "foo/" (which is an empty object with key "foo/") .  S3FS inst

[2020-11-20 16:21] AleksMat commented on #76
Hi,

I can confirm the problem. A minimal example for reproducing this bug would be to run the following in Python 3.8:

[code]
A more natural way for obtaining this bug is that someone pickles a certain object to an s3 bucket using Python 3.7 and then someone else tries to load it using Python 3.8.

A stack trace for the error raised by the code above is:

[code]

The attribute `self._f` is of ty

[2020-11-20 16:26] willmcgugan commented on #76
Yes, definitely a mistake. Happy to accept a PR.

[2020-11-26 11:41] CMCDragonkai opened #82 "Doesn't seem to work with h5py"
I have a file I'm opening up with fs-s3fs.

This file works since I've downloaded and written to the disk.

But if I try to open up the stream in h5py, it just  fails:

[code]

The error is:

[code]

There's something wrong with the `readinto()` method that `h5py` appears to be using.

But  if I just do `weights_file.read()` all is fine.

[2021-01-17 16:00] sdorgancs opened #83 "Region cannot be set using url parameters"
Hello,
I would like to be able to set the region using url parameters, like in the example below:
[code]
But S3FSOpener in opener.py doest not get it
[code]
The change to make it working is very simple
[code]
Could you manage this?

[2021-02-26 20:07] dargueta commented on #80
So I get the S3 empty object thing but I've been doing some thinking and I think, with some finagling, it may be possible to simulate nonexistent directories by using prefix-based searching instead of relying on empty objects as "sentinels" for lack of a better term. This would complicate somethings like `stat` since it would have to look for both that empty object and, failing that, see if there

[2021-03-16 13:31] andyfarmerboy opened #84 "How to set timeout time?"
Git linked the wrong package.

[2021-03-16 14:04] #84 closed, assigned to nobody

[2021-06-11 20:18] mivade commented on #5
Is there any interest in revisiting this sort of issue? I would really like to use PyFilesystem but the S3 limitations prevent me from doing so. In my case I don't always have control over what's in S3 which means there may be missing empty objects. If I had write access then I could create them, but I don't always have that, either.

At the very least, would it be possible to be more explicit in

[2021-06-11 20:35] willmcgugan commented on #5
I would love to be able to offer you an alternative, but to make it work transparently without objects to indicate directories would be horribly inefficient. It would require listing all the buckets and deducing the directory structure. A process which would make this class next to useless for real-word tasks.

If you have a practical solution for this or want to update the docs, feel free to rais

[2021-06-11 20:56] mivade commented on #5
Thanks for the quick reply! I actually can't remember precisely which operations were causing issues for me but I don't think it was `walk` (so apologies if resurrecting the discussion here is inappropriate). Most likely it was something like just a simple listing of a directory rather than walking.

I'm not too familiar with the internals here but if I have time (unfortunately not too likely for

[2021-06-11 21:50] mivade commented on #5
OK I lied and spent a little time looking at the code. It turns out that the issue I had before was in opening a file and that is a result of this line: https://github.com/PyFilesystem/s3fs/blob/7f95af69e904e58b068ac4f6b39c2da488d5d918/fs_s3fs/_s3fs.py#L438. I can work around this by constructing a `S3FS` object directly with `strict=False`. To me this warrants some extra discussion in the docs so

[2021-06-22 19:34] bkanuka commented on #78
I'm interested in this too but with fs_gcsfs (based off of s3fs).  Was it a concious design decision to require the bucket on initialization?  Otherwise, I'd cetainly just prefer to use `gs://bucket/folder1/etc`.

~I mean, even more interesting would be for PyFilesystem to automatically choose the plugin to use also so that we could do `fs.open('s3://bucket1/folder1/file1)` or `fs.open('gs://bucke

[2021-07-29 09:39] shadiakiki1986 commented on #70
I ran in to this issue and investigated a bit.

TL;DR: This behavior is intended by `s3fs` and was introduced as a fix to issue #17 in PR #21, found through the `git blame` [here](https://github.com/PyFilesystem/s3fs/blame/7f95af69e904e58b068ac4f6b39c2da488d5d918/fs_s3fs/_s3fs.py#L433-L441) and explained in the docs [here](https://fs-s3fs.readthedocs.io/en/latest/#limitations)

It turns out that i

[2021-07-29 09:51] shadiakiki1986 commented on #68
I'm guessing that your `inbound` folder contains files that were uploaded with something other than `s3fs`, and that `core` contains at least one file that was uploaded with `s3fs`. I'm not sure if you directly want to check that `/core` exists, or if it was just a check that you did for debugging. If you really want `/core` to exist, then upload an empty file to it with `s3fs`, then your check sh

[2021-08-20 15:39] valerioa opened #87 "New release of Aiobotocore breaks s3fs"
Today a new version of aiobotocore was released (1.4.0)

The new release breaks s3fs

[code]

AioSession was removed in this release of aiobotocore.

[2021-10-21 13:15] batic commented on #76
@willmcgugan Any chance this could be merged and a new version released?

[2021-11-10 08:01] cha0sCat opened #88 "a new s3fs base on minio client"
https://github.com/cha0sCat/fs-s3fs-minio

This is s3fs implemented using minio sdk.
implement the makedir function by creating .pyfs.isdir under the folder.

all test passed.

[2021-11-10 08:03] cha0sCat commented on #88
But to be honest, I will not use this implementation myself.
Each method will cause a lot of s3 api calls

[2021-11-18 21:09] poudro commented on #70
The issue I mention only happens when a different user uploads the file whether it be via s3fs or aws cli even when all permitions are ok.

If user who is trying to read it via s3fs is the one that did the upload, via either s3fs or aws cli, it works fine.

So your explanation doesn't hold since it does in fact work, but only sometimes, depending on who did the upload with aws cli.

I'm pretty sur

[2022-03-01 23:48] geoffjukes commented on #70
@poudro - The explanation does hold. Let me explain it differently....

In a POSIX filesystem, the full file path always exists. So you can 'stat' every part of it. So with "/temp/file.ext" as an example; `temp` exists, and so does `file.ext`

In Object storage (such as S3) it is possible for `/temp/file.ext` to exist WITHOUT `/temp/` existing - because "folders" aren't a thing. Objects use keys t

[2022-03-02 08:35] poudro commented on #70
In that case, why does it work as expected sometimes and doesn't work other times?

To be clear, I'm not talking about the semantics of POSIX vs Object storage here (which I am familiar with), I'm talking about the fact that when a program "sometimes works and sometimes doesn't" it heavily smells of a bug somewhere.

My solution works for me, it's maybe not the best approach, if someone has a bett

[2022-03-02 15:54] geoffjukes commented on #70
@poudro Are you saying that files uploaded by 2 users, with the same key prefix, result in an error? e.g. /some/place/user1.txt vs /some/place/user2.txt

Or are the key prefixes different? e.g. /user1/file.ext vs /user2/file.ext

Are the users using the same software to upload/create the objects? Or different software? I'd like to try and recreate your issue, so some specifics would help me to do

[2022-03-02 19:52] poudro commented on #70
@geoffjukes here's the more detailed scenario:

- There is a single file `foo` that contains `bar`
- There are two users U1 and U2
- U1 uploads the file to `s3://bucket/path/foo` (via s3fs, aws webinterface or aws cli, all three result in same outcome) and sets read permissions so both U1 and U2 can read it

In this scenario U1 can read file via s3fs, but U2 will raise a `ResourceNotFound` when ac

[2022-03-02 20:16] geoffjukes commented on #70
@poudro `s3://bucket/path/foo` does not imply that an object the object `s3://bucket/path/` exists, which is what causes the error you are seeing.

When U1 creates the object at `s3://bucket/path/foo` are they first creating `s3://bucket/path` (such as with `makedirs`)? or just creating `s3://bucket/path/foo` directly? I know that the AWS web interface and the AWS CLI allow for direct object creat

[2022-03-02 21:08] poudro commented on #70
The permissions in my experiment were actually set at the bucket level, seems unlikely to me then that it could be linked to permissions at the path level.

[2022-03-02 21:18] geoffjukes commented on #70
It happens. I've experienced it myself many times.

EDIT: https://docs.aws.amazon.com/AmazonS3/latest/userguide/managing-acls.html

[2022-04-05 06:56] tuky commented on #87
Right, they removed it in https://github.com/aio-libs/aiobotocore/commit/b7726a4c45b6cdc0a8bf679191ce9c31eb7bd167.

[2022-06-27 10:57] iljau opened #90 "copydir fails with TypeError: copy() got an unexpected keyword argument 'preserve_time'"
[code]

[code]